In [79]:
import camelot
import pandas as pd
import re
import os
import sys

In [80]:
def extract_tables_from_pages(pdf_file: str, flavor='stream', page_numbers: list = []) -> list:
    """
    Extract tables from specified pages of a PDF using Camelot.
    """
    # Use camelot to extract tables from the specified pages
    tables = camelot.read_pdf(pdf_file, flavor=flavor, pages=",".join(map(str, page_numbers)))
    extracted_tables = []

    for table in tables:
        # Assume each table is relevant, modify if needed
        if table:
            extracted_tables.append(table.df)

    return extracted_tables

In [81]:
def clean_and_save_to_excel(tables: list, excel_file_path: str):
    """
    Clean tables, drop odd columns, and save them to an Excel file.
    """
    cleaned_tables = [clean_table(table) for table in tables]

    # Save the cleaned DataFrames to an Excel file
    with pd.ExcelWriter(excel_file_path, engine='xlsxwriter') as writer:
        for i, cleaned_table in enumerate(cleaned_tables):
            # Drop odd columns
            cleaned_table = cleaned_table.iloc[:, ::2]
            cleaned_table.to_excel(writer, sheet_name=f'Table_{i+1}', index=False)

    print(f"Data has been copied to {excel_file_path}")

In [82]:
def clean_table(table: pd.DataFrame) -> pd.DataFrame:
    """
    Clean the table data by removing $ signs from columns.
    """
    return table.applymap(lambda x: re.sub('\$', '', str(x)) if pd.notnull(x) else x)

In [83]:
if __name__ == "__main__":
    # Specify your PDF file path
    pdf_input_file = 'meta_1.pdf'

    # Specify the pages you want to extract
    pages_args = "80,81"
    pages_required = [int(p) for p in filter(None, pages_args.split(","))]

    # Extract tables from the specified pages
    tables = extract_tables_from_pages(pdf_input_file, page_numbers=pages_required)

In [84]:
    if not tables:
        sys.exit('No tables found on the specified pages.')

    # Display the extracted tables
    for i, table in enumerate(tables):
        print(f"\nTable {i+1}:\n{table}")

    # Save tables to an Excel file with odd columns dropped
    excel_output_file = pdf_input_file + '_cleaned.xlsx'
    clean_and_save_to_excel(tables, excel_output_file)

    print("Complete")

Table 1:
                                            0  1        2  3        4
0                                                    2021        2020
1                                      Assets
2                             Current assets:
3                   Cash and cash equivalents  $   16,601  $   17,576
4                       Marketable securities      31,397      44,378
5                    Accounts receivable, net      14,039      11,335
6   Prepaid expenses and other current assets       4,629       2,381
7                        Total current assets      66,666      75,670
8                          Equity investments       6,775       6,234
9                 Property and equipment, net      57,809      45,633
10        Operating lease right-of-use assets      12,155       9,348
11                     Intangible assets, net         634         623
12                                   Goodwill      19,197      19,050
13                               Other assets       2,751       2,758
14                               Total assets  $  165,987  $  159,316

Table 2:
                                                    0  \
0
1
2
3                                             Revenue
4                                 Costs and expenses:
5                                     Cost of revenue
6                            Research and development
7                                 Marketing and sales
8                          General and administrative
9                            Total costs and expenses
10                             Income from operations
11                     Interest and other income, net
12           Income before provision for income taxes
13                         Provision for income taxes
14                                         Net income
15  Earnings per share attributable to Class A and...
16                                      stockholders:
17                                              Basic
18                                            Diluted
19  Weighted-average shares used to compute earnin...
20  attributable to Class A and Class B common sto...
21                                              Basic
22                                            Diluted
23  Share-based compensation expense included in c...
24                                    Cost of revenue
25                           Research and development
26                                Marketing and sales
27                         General and administrative
28             Total share-based compensation expense

                                          1        2                        3  \
0   (In millions, except per share amounts)
1                                                     Year Ended December 31,
2                                               2021
3                                         $  117,929                        $
4
5                                             22,649
6                                             24,655
7                                             14,043
8                                              9,829
9                                             71,176
10                                            46,753
11                                               531
12                                            47,284
13                                             7,914
14                                        $   39,370                        $
15
16
17                                        $    13.99                        $
18                                        $    13.77                        $
19
20
21                                             2,815
22                                             2,859
23
24                                        $      577                        $
25                                             7,106
26                                               837
27                                               644
28                                        $    9,164                        $

         4  5       6
0
1
2     2020       2019
3   85,965  $  70,697
4
5   16,692     12,770
6   18,447     13,600
7   11,591      9,876
8    6,564     10,465
9   53,294     46,711
10  32,671     23,986
11     509        826
12  33,180     24,812
13   4,034      6,327
14  29,146  $  18,485
15
16
17   10.22  $    6.48
18   10.09  $    6.43
19
20
21   2,851      2,854
22   2,888      2,876
23
24     447  $     377
25   4,918      3,488
26     691        569
27     480        402
28   6,536  $   4,836
Data has been copied to meta_1.pdf_cleaned.xlsx
Complete